*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}

body::-webkit-scrollbar {
  width: 10px !important;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: lightgray !important;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: black !important;    /* color of the scroll thumb */
  border: 3px solid lightgray !important;  /* creates padding around scroll thumb */
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
	background: #F5F5F5;
	font-family: 'Ubuntu', sans-serif;
}

.container{
	background:;
	width: 100% !important;
	margin: 0px auto;
}

header{
	background-image: url("https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80") !important;
	/*background: black;*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.head-img{
	width: 20%;
}

.logo{
	width: 90%;
	border-radius: 100%;
	margin: 20px;
}

.mini-logo{
	width: 30px;
	border-radius: 100%;
	margin: 15px;
}

.banner{
	width: 90%;
	margin-top: -12px;
	margin-left: 25px; 
}

.head-rest{
	width: 80%;
	color: white;
	text-align: right;
	font-size: 1.5em;
	line-height: 60px;
	padding-right: 30px;
}

.nav-btns{
	margin: 20px;
	width: 50%;
	height: 40px;
	line-height: 40px;
	/*transform: skew(20deg);*/
	background: lightgray;
	color: #555;
	cursor: pointer;
	padding-left: 60px;
	border-radius: 5px;
}

.nav-btns a{
	display: block;
	/*transform: skew(-20deg);*/
}

.nav-btns:hover{
	background: #555;
	color: white;
}

.active{
	background: #555;
	color: white;
}

section{
	width: 50%;
	margin: 0px auto;
}


.main-section{
	width: 70%;
}

.menu{
	width: 30%;
	border-radius: 0px 0px 0px 5px;
}

.card{
	margin: 20px auto;
	border: 1px solid lightgray;
	border-radius: 20px;
	width: 70%;
}

.iframe{
	height: 350px;
}

footer{
	background: yellow;
}

.card button{
	
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  right:0;
  width: 30%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.download-btn{
	width: ;
	height: 30px;
	line-height: 30px;
	border-radius: ;
	background: lightgray;
	color: #555;
	cursor: pointer;
}

.download-btn:hover{
	background: #555;
	color: white;
}

.bottom-bar{
	position: fixed;
	bottom: 0;
	background: white;
	width: 100%;
	display: none;
	border-top: 1px solid lightgray;
}

.bottom-bar table{
	width: 100%;
}

.bottom-bar td{
	padding: 10px;
	text-align: center;
	color: gray;
}

.active-td{
	color: black !important;
}

.yt-card{
	width: 31%;
	background: red;
	float: left;
	margin: 10px 10px;
}

.yt-card-thumbnail{
	width: 100%;
	height: 300px;
}




@-webkit-keyframes animation{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}

@-webkit-keyframes animation2{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}


@font-face
{
font-family: font;
src: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/hand.ttf);
font-weight:bold;
}

.slider div p{color: #1c1c1c; text-align: center; font-family:font; font-size:20px; margin-top: 10px;}
.slider{

     -webkit-animation:animation ease 1s;animation-delay:.8s;animation-fill-mode:backwards;
 

    margin: 40px auto 0 auto;
    height:360px;
    width:240px;

       perspective:1000px;
       transition:ease-in-out .2s;
             /*-webkit-transform:rotateX(45deg);
             -webkit-transform-style:preserve-3d;
                 position:absolute;*/
}
/*.slider:active{ -webkit-transform:rotateZ(10deg);}*/


.slide img { text-align:center;width:100%; height:100%; -webkit-user-drag:none;user-drag:none;-moz-user-drag:none; border-radius:2px; }


.slide{

    

      -webkit-user-select:none;
user-select:none;
  -moz-user-select:none;
    position:absolute;
        height:280px;
    width:240px;

box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
background:#fcfcfc;
             -webkit-transform-style:preserve-3d;
              transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
             text-align:center;
             /*overflow:hidden;*/
             border:12px white solid;
             box-sizing:border-box;
             border-bottom:55px white solid;
             border-radius:5px;


    
}
.transition {
     -webkit-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
   -moz-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
      transition: cubic-bezier(0,1.95,.49,.73) .4s ;
}

.hero img{
	width: 90%;
}

.hero .text{
	width: 90%;
	margin: 20px auto;
}

.hero button{
	padding: 10px;
	color: white;
	background: rgb(0, 134, 0);
}