*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}

body{
	background: #F5F5F5;
}

.container{
	background:;
	width: 100% !important;
	margin: 0px auto;
}

header{
	/*background: url("https://images.unsplash.com/photo-1524169358666-79f22534bc6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");*/
	background: black;
	background-size: cover;
	background-repeat: no-repeat;
}

.head-img{
	width: 20%;
}

.logo{
	width: 90%;
	border-radius: 100%;
	margin: 20px;
}

.banner{
	width: 90%;
	margin-top: -12px;
	margin-left: 25px; 
}

.head-rest{
	width: 80%;
}

.nav{
	margin: 0px 0px 0px 0px;
	color: white;
}

.nav li{
	display: inline;
	margin: 0px 5px 0px 5px;
	padding: 5px;
	border: 2px solid white;
	border-radius: 10px;
}

.nav li:hover{
	color: black;
	background: white;
	cursor: pointer;
}

.active{
	background: white;
	color: black;
}

section{
	width: 50%;
	margin: 0px auto;
}


.main-section{
	width: 70%;
}

.menu{
	width: 30%;
	height: 33px;
	background: #5d5b5b;
	border-radius: 0px 0px 0px 20px;
}

.card{
	margin: 20px auto;
	border: 1px solid lightgray;
	border-radius: 20px;
	width: 80%;
}

.iframe{
	height: 350px;
}

footer{
	background: yellow;
}

.card button{
	
}