*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}

body{
	background: black;
}

.container{
	background: white;
	width: 90%;
	margin: 0px auto;
}

header{
	background: black;
}

.head-img{
	width: 20%;
}

.logo{
	width: 90%;
	border-radius: 100%;
	margin: 20px;
}

.banner{
	width: 90%;
	margin-top: -15px;
}

.head-rest{
	width: 80%;
}

.nav{
	margin: 10px 0px 0px 0px;
}

.nav li{
	display: inline;
	margin: 0px 10px 0px 10px;
}

section{
	background: green;
}

footer{
	background: yellow;
}