@media screen and (max-width: 1163px) {
	.nav-btns{
		width: 80%;
		padding-left: 80px;
	}
}

@media screen and (max-width: 890px) {
	.bottom-bar{
		display: block;
	}

	.menu{
		display: none;
	}

	.yt-card{
		width: 90%;
		margin: 10px auto;
	}

	.main-section{
		width: 100%;
	}
}

@media screen and (max-width: 767px){
	.nav, .grayline, .menu, .head-br{
		display: none;
	}

	.banner{
		width: 90%;
		margin-top: 15px;
		margin-left: 25px; 
	}

	section{
		width: 100%;
	}

	.main-section{
		width: 100%;
	}

	.card{
		width: 100% !important;
		border: 0px;
		border-radius: 0px !important;
	}

	.iframe{
		height: 200px;
	}

	.bottom-bar{
		display: block;
	}

	.yt-card{
		width: 90%;
		margin: 10px auto;
	}

}